- content_for(:container_class, 'dummy-container')

.jumbotron.text-center{style: 'margin-top: -20px;'}
  %h1
    じゅんじゅんゆかり結婚式二次会<br>解答管理コンソール

%div.text-center
  = link_to '初期化する', reset_path , :method => :get, class: 'btn btn-success btn-lg'
%br
%div.text-center
  = link_to '新しく解答を登録', new_answer_regist_corrects_path , class: 'btn btn-success btn-lg'
%br
%div.text-center
  = link_to '解答一覧へ', answer_regist_corrects_path, :method => :get, class: 'btn btn-success btn-lg'
%h1
  上位回答者

.form-group.col-sm-4
  %table.table.table-bordered
    %thead
      %tr
        %th='ランキング'
        -#%th='ユーザーID'
        %th='ユーザー名'
        %th='正答数'
    %tbody
      - @users.each do |user_ans|
        %tr
          %td= user_ans.rank
          -#%td= user_ans.user_id
          %td= user_ans.user_name
          %td= user_ans.cnt

%h1
  解答別回答数一覧
.form-group.col-sm-5
  %table.table.table-bordered
    %thead
      %tr
        %th='ステージ'
        %th='A'
        %th='B'
        %th='C'
        %th='D'
    %tbody
      - @answers.length.times do |i|
        %tr
          - stage = i + 1
          %td= stage
          %td= @answers[i]["A"]
          %td= @answers[i]["B"]
          %td= @answers[i]["C"]
          %td= @answers[i]["D"]
