= bootstrap_form_for [:answer_regist, @correct], layout: :horizontal do |f|

  = f.alert_message '以下の項目を修正して下さい。'

  = f.text_field :stage, autofocus: true, value: @correct.stage

  .form-group.col-md-5
    - ["A", "B", "C", "D"].each do |crr|
      = f.radio_button :correct , crr, label: crr, class: 'col-2-offset-2'

  .form-group.col-sm-12.col-2-offset-2
    .pull-left
      = f.button '更新する', name: 'ope[cmd]', value: 'save', class: 'btn btn-lg btn-default'

    .pull-right
      = link_to '削除する', [:answer_regist, @correct], :method => :delete, :data => { :confirm => '本当によろしいですか?' }, class: 'btn btn-danger btn-lg'
